@import url('../fonts/stylesheet.css');

@tailwind base;
@tailwind components;

@layer base {

    @font-face {
        font-family: 'Recoleta';
        src: url('/Recoleta-Black.woff') format('woff'), url('Recoleta-Black.woff2') format('woff2'), url('Recoleta-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Recoleta';
        src: url('Recoleta-Light.woff') format('woff'), url('Recoleta-Light.woff2') format('woff2'), url('Recoleta-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Recoleta';
        src: url('Recoleta-Regular.woff') format('woff'), url('Recoleta-Regular.woff2') format('woff2'), url('Recoleta-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Recoleta';
        src: url('Recoleta-SemiBold.woff') format('woff'), url('Recoleta-SemiBold.woff2') format('woff2'), url('Recoleta-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Recoleta';
        src: url('Recoleta-Bold.woff') format('woff'), url('Recoleta-Bold.woff') format('woff2'), url('Recoleta-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Recoleta';
        src: url('Recoleta-Medium.woff') format('woff'), url('Recoleta-Medium.woff2') format('woff2'), url('Recoleta-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
}

@tailwind utilities;



